<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="/css/output.css"
    >
    <link rel="stylesheet" href="/favicon.ico">
  </head>
  <body class="min-h-screen bg-black text-neutral-200  p-4">
    <header class="p-4">
        <a href="/" class="text-lg hover:text-[#001bff]/60">One Line a Day.</a>
    </header>
        
      <section class="w-full md:w-2/3 mx-auto">
     
        
          <div class="bg-black border rounded-md">
              <% if(currentUser) {%>
                <div class="w-full h-8" role="img" aria-label="Profile avatar for <%= currentUser.username %>"  <% /* eslint-disable css-propertyvalueexpected */ %> style="background-image: <%= currentUser.profile %>"></div>
                <div class="p-4">
                    <h1>
                           Welcome
                        <a href="/userPosts/<%= currentUser._id %>" class="hover:underline hover:cursor-pointer cursor hover:text-[#001bff]">
                            <%= currentUser.username %>
                        </a>
              
                    </h1>
                    <% if(currentUser.membership) {%>
              
                    <div class="flex items-center justify-between ">
                        <div>
                            <p class="text-xs text-neutral-400 mb-2">Member</p>
                            <form action="/logout" method="POST">
                                <button type="submit" class="hover:cursor-pointer text-xs bg-[#001bff]/60 hover:bg-[#001bff] p-2 rounded-md mt-2">
                                    Logout
                                </button>
                            </form>
              
              
                        </div>
              
                        <a href="/createPost" class="ml-auto text-sm flex items-center justify-center  bg-[#001bff]/60 hover:bg-[#001bff] w-8 h-8 rounded-full" >
                            <span class="leading-none">+</span>
                        </a>
              
                    </div>
              
              
                    <% } else { %>
                       <p class="text-xs text-neutral-400 mb-2">Non-member</p>
                        <nav class="flex items-center justify-between">
                            <a href="/join" class="text-xs bg-[#001bff]/60 hover:bg-[#001bff] p-2 rounded-md mt-2 ">Join the club</a>
                        <form action="/logout" method="POST">
                            <button type="submit" class="hover:cursor-pointer text-xs bg-[#001bff]/60 hover:bg-[#001bff] p-2 rounded-md mt-2">
                                Logout
                            </button>
                        </form>
                        </nav>
                     <% } %>
                 </div>
                  <% }else{ %>
                <div class="flex flex-col gap-2 p-4">
                    <h1>
                        Welcome Stranger
                    </h1>
                    <nav class="flex flex-col items-start">
              
              
                        <a href="/login" class="w-fit text-xs bg-[#001bff]/60 hover:bg-[#001bff] p-2 rounded-md mt-2 ">Login</a>
                        <!-- <a href="/register" class="w-fit text-xs bg-[#001bff]/60 hover:bg-[#001bff] p-2 rounded-md mt-2 ">Register</a> -->
                          <form action="/auth/tester-login" method="POST">
                            <button type="submit" class="hover:cursor-pointer text-xs bg-[#001bff]/60 hover:bg-[#001bff] p-2 rounded-md mt-2">
                                TESTER LOGIN
                            </button>
                        </form>
                    </nav>
                </div>
                 
                       <% } %>
          </div>
        </header>

    <!-- POSTS-->
     <main>
         <section class="mt-4">
            <h2>Posts</h2>
            <% if(posts && posts.length > 0) { %>
         
                <% posts.forEach(post => { %>
                    <article class="p-4 rounded-md border-2 border-neutral-200 w-full my-2">
                        <div class="flex gap-2 items-center">
                            <div class="rounded-full w-8 h-8" role="img" aria-label="Profile avatar for <%= post.author.username %>"  <% /* eslint-disable css-propertyvalueexpected */ %> style="background-image: <%= post.author.profile %>"></div>
                            <div class=" <%= currentUser && currentUser.membership ? '' : 'blur-xs' %>">
                                <p><%= post.author.username %></p>
                                <p class="text-xs text-neutral-500">
                                    <%= formatDate(post.createdAt) %>
                                </p> 
                            </div>
                        </div>
                        <div class="mt-4">
                            <p><%= post.content %></p>
                        </div>
                    </article>
                <% }) %>
            <% } else { %>
                <p>No posts yet.</p>
            <% } %>
         </section>
     </main>
  
  </body>
</html>
